In [1]:
import pandas as pd

In [2]:
sample_data = pd.read_csv("../data/3773457.csv", low_memory=False)

In [3]:
sample_data.head()

,Unnamed: 0,id,index,period,timestamp,minute,second,type,possession,possession_team,...,off_camera,out,shot,goalkeeper,foul_committed,foul_won,miscontrol,ball_recovery,substitution,block
0,0,9d9578b5-c08c-4279-8f74-b6b1497398c1,1,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5008c221-4ae6-4f3c-b45f-151026e68e6e,2,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,35d940f0-f9ee-47a0-b922-84c0ddaef022,3,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,199204d2-f503-4720-a1a5-dbf9c61095d4,4,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,daac9c8d-95b6-4e42-8cfa-b05779fd7755,5,1,00:00:00.955,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 217, 'name': 'Barcelona'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN